@import "themes/mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 12px;
    color: @text;
	  border-radius: 0px;
}

window#waybar {
  background-color: shade(@base, 0.9);
}

#workspaces {
	background-color: @surface0;
	margin: 5px;
	margin-left: 7px;
}

#workspaces button {
    padding: 0 10px;
    color: @text;
}

#workspaces button.focused {
    color: @text;
    background-color: @surface1;
}

#workspaces button.active {
    color: @text;
    background-color: @surface1;
}

#workspaces button:hover {
	background-color: @surface1;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
	background-color: @surface0;
  border-bottom: solid @mantle 3px;
	padding: 0px 10px;
	margin: 5px 0px;
}


#tray {
	background-color: @surface2;
  border-bottom: solid @surface0 3px;
	padding: 0px 10px;
	margin: 5px 0px;
}

#custom-date {
	color: #8fbcbb;
}

#custom-power {
	color: #2e3440;
	background-color: @red;
	margin-right: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 0px 10px;
  border-bottom: solid #c05875 3px;
}

#clock {
    color: @text;
}

#battery {
    color: @green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.charging {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
	color: @sapphire;
}

#pulseaudio {
	color: @yellow;
}
